body {
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: white;
}

h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: white;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
}

.container-one {
    width: 500px;
    margin: inherit;
    margin-top: 20px;
    margin-bottom: 20px;

}

.container-two {
    width: 500px;
    height: 200px;
    background-color: darkmagenta;
    box-sizing: border-box;
    padding-top: 50px;
}

.container-mom {
    display: flex;
    width: 500px;
    height: 200px;
    justify-content: center;
}

.container-son {
    width: 166.6666px;
    height: 200px;
    background-color: green;
    box-sizing: border-box;
    padding-top: 50px;

}

.container-dog {
    width: 166.6666px;
    height: 200px;
    background-color: chartreuse;
    box-sizing: border-box;
    padding-top: 50px;
}

.container-cat {
    width: 166.6666px;
    height: 200px;
    background-color: greenyellow;
    box-sizing: border-box;
    padding-top: 50px;
}

.container-end {
    width: 500px;
    height: 400px;
    background-color: navy;
    box-sizing: border-box;
    padding-top: 150px;
}


@media screen and (min-width: 0) and (max-width: 600px) {

    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
    }

    .container-one {
        width: 250px;
    }

    .container-two {
        width: 250px;
        height: 100px;
        padding-top: 25px;
    }

    .container-mom {
        width: 250px;
        height: 100px;
    }

    .container-son {
        width: 83.3333px;
        height: 100px;
        padding-top: 25px;
    }

    .container-dog {
        width: 83.3333px;
        height: 100px;
        padding-top: 25px;
    }

    .container-cat {
        width: 83.3333px;
        height: 100px;
        padding-top: 25px;
    }

    .container-end {
        width: 250px;
        height: 200px;
        padding-top: 75px;
    }
    
}